<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登陆页面</title>
    <link rel="stylesheet" href="html/css/mycss.css">
</head>
<body>
  <div class="formdiv">
      <form action="#" method="post" >
          用户名<input type="text" name="username"><br>
          密  码 <input type="password" name="pwd"><br>
          <input type="submit" value="登陆">

      </form>
  </div>

</body>
</html>